body{
    
    

}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 450px;
    padding-right: 450px;  
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight: normal;
    gap: 16px;
}

.first-content {
    display: flex;
    align-items: center;
    padding-top: 48px;
    padding-left: 450px;
    padding-right: 450px;    
    background-color: #E5E7EB;
    justify-content: space-between;
    padding-bottom: 48px;
}

.leftcontent {
    display: flex;
    flex-direction: column;
}

.awesometext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}

.subtext {
    color: #f9faf8;
    font-size: 18px;
}

.sign-up-top {
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 8px;
    width: 100px;
    height: 35px;  
}

.sushiimage {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
}

.header, .first-content {
    background-color: #1F2937;

}

.second-content {
    flex-direction: column;
    text-align: center;



}

.info {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto
}

.third-content{
    background-color: #E5E7EB;
    text-align: center;


}

.fourth-content {

}

.footer {
    background-color: #1F2937;
}

.sign-up-bottom {
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 8px;
    width: 100px;
}