.body{

}

.header {
    background-color: #1F2937;


}

.first-content {
    background-color: #1F2937;

}

.second-content {


}

.third-content{
    background-color: #E5E7EB;


}

.fourth-content {

}

.footer {
    background-color: #1F2937;
}