body{
    

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    



}

ul {
    display: flex;
    text-decoration: none;
    
    gap: 16px;
}

.first-content {
    
   
}

.header, .first-content {
    background-color: #1F2937;

}

.second-content {


}

.third-content{
    background-color: #E5E7EB;


}

.fourth-content {

}

.footer {
    background-color: #1F2937;
}